<h1>Password Reset</h1>

<p>Hi <%= @steward.first_name %>,</p>

<p>Someone requested a password reset for your account. If this was you, click the link below:</p>

<p><%= link_to "Reset my password", edit_town_hall_password_reset_url(token: @token) %></p>

<p>This link will expire in 1 hour.</p>

<p>If you didn't request this, you can safely ignore this email.</p>
